@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  background: #406aff;
}
.active{ 
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius:100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
} 

.btn{
  background: #406aff;
  box-shadow: 0px 4.42184px 107.23px rgba(89, 86, 225, 0.51);
} 

/* body {
  background: #050913 url('./img/bg.png') no-repeat center center fixed;
  background-size: cover;
} */


@layer base{
  body{
    @apply font-secondary text-lg leading-8 text-white
  }
  .h2{
    @apply font-primary text-[2rem] mb-6 tracking-[10%] uppercase

  }
  .h3{
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px]

  }
  .btn{
    @apply rounded-full font-primary text-white font-medium
  }
  .btn-sm{
    @apply h-[48px] px-6 text-sm
  }
  .btn-lg{
    @apply bg-gradient-to-r font-semibold font-primary  px-8 h-[54px]
  }
  .section{
    @apply py-8 lg:py-32 lg:h-screen flex items-center
  }
}